<!-- intro -->
<ul class="list-unstyled components">
<li>
<a id=sidebar-notation href="{{pathToLang}}intro/notation">Notation Reference</a>
</li>
</ul>

<!-- part1_ -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part1_">Part 1: Matching Theory</p></li>
<li>
<a id=sidebar-two_sided_matching href="{{pathToLang}}part1_/two_sided_matching">Two-Sided Matching</a>
<a id=sidebar-deferred_acceptance_alg href="{{pathToLang}}part1_/deferred_acceptance_alg">Deferred Acceptance Algorithm</a>
<a id=sidebar-optimality href="{{pathToLang}}part1_/optimality">Optimality</a>
<a id=sidebar-decentralized_market href="{{pathToLang}}part1_/decentralized_market">Decentralized Market</a>
<a id=sidebar-rural_hospitals href="{{pathToLang}}part1_/rural_hospitals">Rural Hospitals Theorem</a>
<a id=sidebar-game_theory_rvw href="{{pathToLang}}part1_/game_theory_rvw">Game Theory Review</a>
<a id=sidebar-incentives_in_two_sided_matching href="{{pathToLang}}part1_/incentives_in_two_sided_matching">Incentives in Two-Sided Matching</a>

<li>
    <a href="#part1__examples" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle show">Worked Examples</a>
    <ul class="collapse list-unstyled show" id="part1__examples">
        <li><a href="{{pathToLang}}examples/law_clerk">Law Clerks</a></li><li><a href="{{pathToLang}}examples/roommate_prob">Roommate Problem</a></li>
    </ul>
</li>
</li>
</ul>

<!-- part2_ -->
<ul class="list-unstyled components">
<li><p href="{pathToLang}part2_">Part 2: Housing Allocation</p></li>
<li>
<a id=sidebar-rsd href="{{pathToLang}}part2_/rsd">Random Serial Dictatorship</a>
<a id=sidebar-ttc href="{{pathToLang}}part2_/ttc">Top Trading Cycles</a>
<a id=sidebar-core href="{{pathToLang}}part2_/core">Core</a>
<a id=sidebar-priority_line href="{{pathToLang}}part2_/priority_line">Priority Line Mechanism</a>
</li>
</ul>

